# Dot files

## OS files
.CFUserTextEncoding
.Trash
.cache
.lesshst
.vim*
*zcomp*
*.zsh_*

## Dev files
.gem
.npm
.venv

## Review before adding to repository
.vscode
.local

## .config dir
.config/lvim/**/
.config/nvim-macos
.config/iterm2
.config/nvm
# .config/neofetch
# .config/bat
# .config/starship.toml
# .config/zsh
.config/zsh/i386/
.config/zsh/.*


# Home folders
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Projects
Public

